<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-maerfid" version="1.0.0">
  <name>MaeRfid</name>
  <description>Implement CAEN Rfid protocoll</description>
  <license>MIT</license>
  <repo>https://github.com/scrabionau77/cordova-plugin-maerfid.git</repo>
  <issue>https://github.com/scrabionau77/cordova-plugin-maerfid/issues</issue>
  <engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0"/>
  </engines>
  <js-module src="www/maerfid.js" name="MaeRfid">
    <clobbers target="cordova.plugins.maerfid"/>
  </js-module>
  <platform name="android">
    <source-file src="src/android/com/cordova/plugins/maerfid/MaeRfid.java" target-dir="src/com/cordova/plugins/maerfid"/>
    <source-file src="src/android/com/cordova/plugins/maerfid/Global.java" target-dir="src/com/cordova/plugins/maerfid"/>
    <source-file src="src/android/com/cordova/plugins/maerfid/UsbBroadcastReceiver2.java" target-dir="src/com/cordova/plugins/maerfid"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MaeRfid">
        <param name="android-package" value="com.cordova.plugins.maerfid.MaeRfid"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    </config-file>
    <framework src="src/android/maerfid.gradle" custom="true" type="gradleReference"/>
    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>
    <lib-file src="src/android/CAENRFIDLibrary-release.aar"/>
    <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:name="com.cordova.plugins.maerfid.Global"/>
    </edit-config>
  </platform>
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="MaeRfid">
        <param name="browser-package" value="MaeRfid"/>
      </feature>
    </config-file>
    <js-module src="src/browser/MaeRfidProxy.js" name="MaeRfidProxy">
      <runs/>
    </js-module>
  </platform>
</plugin>
