<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-maerfid" version="1.0.0">
    <name>MaeRfid</name>
    <description>Rfid Plugin</description>
    <license>MIT</license>
    <author>Maestrale Information Technology - Daniele Pellerucci</author>
    <keywords>caen,rfid</keywords>
    <repo>https://github.com/scrabionau77/cordova-plugin-maerfid.git</repo>
    <issue>https://github.com/scrabionau77/cordova-plugin-maerfid/issues</issue>

    <js-module src="www/maerfid.js" name="maerfid">        
      <clobbers target="MaeRfid" /> <!-- This is the window variable name you want, like window.MaeRfid -->
    </js-module>

    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MaeRfid">
          <param name="android-package" value="com.maestrale.maerfid.MaeRfid" />
        </feature>
      </config-file>

      <source-file src="src/android/MaeRfid.java" target-dir="src/com/maestrale/maerfid" />
      
      <!--<framework src="src/android/caenrfid.gradle" custom="true" type="gradleReference" />
      <resource-file src="aar/CAENRFIDLibrary-release.aar" target="libs/CAENRFIDLibrary-release.aar" />-->
    </platform>

    <!-- browser -->
    <!--
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="MaeRfid">
                <param name="browser-package" value="MaeRfid" />
            </feature>
        </config-file>

        <js-module src="src/browser/MaeRfidProxy.js" name="MaeRfidProxy">
            <runs />
        </js-module>
    </platform>
    -->
</plugin>
